.team-member img,
.member-photo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

img,
svg {
  vertical-align: middle;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
